In [ ]:
print(19//2)

9

In [ ]:
#Arithmatic operator
# + - * / % // **

In [ ]:
age = int(input("enter your age"))
print(age!=18)

enter your age19
True

In [ ]:
#comparison operator
# <
# >
# <=
# >=
# ==
# !=

In [ ]:
#Assignment Operator
# =
# +=
# -=
# *=
# /=
# %=
# //=
# **=

In [ ]:
a = 10
b = int(input("enter your number"))
a //= b # a = a // b
print(a)

enter your number3
3

In [ ]:
print(id(a))
print(id(b))

139065713967408
139065713967408

In [ ]:
var1 = 10;
var2 = 20 ;
print(id(var1))
print(id(var2))

var1 = var2

print(var1)
print(var2)

139065713967632
139065713967952
20
20

In [ ]:
var3 = 10
var4 = 10

print(id(var3))
print(id(var4))
print(id(var1))

139065713967632
139065713967632
139065713967952